body{
    margin:0;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
    font-family: sans-serif;
}

#container,canvas{
    width: 80%;
    max-width: 500px;
}

canvas{
    aspect-ratio: 1;
    box-sizing: border-box;
    border: 1px solid black;
}

#container{
    height: 130px;
    background-color: olivedrab;
    color: white;
    box-sizing: border-box;
    padding: 10px;
    font-size: 18px;
    overflow-y: scroll;
}
